In [5]:
import sqlite3  # importing sqlite3 to work with sqllite files

db = sqlite3.connect('Employee.sqlite')

In [7]:
cur = db.cursor()

sql_query = 'Create table Employee_Detail (employee_id int primary key, name Text, age int, department Text, salary int);'
cur.execute(sql_query)

In [9]:
sql_query = 'Insert into Employee_Detail values (100,"Rishav",25,"Marketing",50000),(101,"Abhishek",26,"Operations",60000), (102,"Aman",24,"Human Resource",75000);'
cur.execute(sql_query)

In [10]:
db.commit()  # commits the data updations

In [12]:
cur.execute('delete from Employee_Detail where employee_id = 101;')
db.commit()

In [13]:
# passing parameters in a query
c_id = 102
cur.execute('delete from Employee_Detail where employee_id = ?',(c_id,))
db.commit()

In [14]:
# employee details
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112,113]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

In [24]:
cur.execute('delete from Employee_Detail')
db.commit()
for i in range(len(name)):
    cur.execute('Insert into Employee_Detail values (?,?,?,?,?)',(employee_id[i],name[i],age[i],department[i],salary[i]))
db.commit()

In [29]:
cur.execute('Select department,count(*) from Employee_Detail group by department')
print(cur.fetchall())
print('Finance', 2)
print('Human Resource', 2)
print('IT', 2)
print('Marketing', 4)
print('Operations', 2)

[('Finance', 2), ('Human Resource', 2), ('IT', 2), ('Marketing', 4), ('Operations', 2)]

In [ ]:
import sqlite3
import pandas as pd
db = sqlite3.connect('IMDB.sqlite')
data1 = pd.read_sql_query('select * from imdb',db)
data2 = pd.read_sql_query('select * from genre',db)
data3 = pd.read_sql_query('select * from earning',db)
print(data1.columns)
print(data1.head())
print()
print(data2.head())
print()
print(data3.head())